{% load static %}

<article class="card">
  <div class="flex items-center justify-between px-4 h-14">
    <h3 class="text-lg font-bold w-[50%] truncate">{{ post.title }}</h3>
    {% if post.artist %}
      <div class="text-sm text-gray-500 hover:underline">
        flickr @<a href="{{ post.url }}" target="_blank">{{ post.artist }}</a>
      </div>
    {% endif %}
  </div>
  <figure>
    <a href="{% url 'post_view' post.id %}">
      <img class="w-full" src="{{ post.image }}" alt="Kitty with sunglass" />
    </a>
  </figure>
  <div class="p-4 pb-2">
    {% if post.author %}
      <a class="flex items-center gap-1 mb-4"
         href="{% url 'user_profile' post.author.username %}">
        <img class="w-8 h-8 rounded-full"
             src="{{ post.author.profile.avatar }}"
             alt="happy" />
        <span class="font-bold hover:underline">{{ post.author.profile.name }}</span>
        <span class="text-sm  text-gray-400">@{{ post.author.username }}</span>
      </a>
    {% else %}
      <a class="flex items-center gap-1 mb-4" href="">
        <img class="w-8 h-8 rounded-full"
             src="{% static 'images/avatar-anon.svg' %}"
             alt="happy" />
        <span class="text-sm text-gray-400">[deleted]</span>
      </a>
    {% endif %}
    <p class="text-5xl mb-10 px-4 title-font">{{ post.body }}</p>
    <div class="flex items-center gap-2 text-sm mb-5">
      {% for tag in post.tags.all %}
        <a class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-500 hover:text-white"
           href="{% url 'tag_view' tag.slug %}">{{ tag }}</a>
      {% endfor %}
    </div>
    <div class="flex items-center justify-between text-sm px-2">
      {% if post.comments.count %}
        <a class="font-bold hover:underline"
           href="{% url 'post_view' post.id %}#comments">Comment{{ post.comments.count|pluralize }}<span class="font-light text-gray-500 ml-2">{{ post.comments.count }}</span></a>
      {% else %}
        {% if user.is_authenticated %}
          <a class="font-bold hover:underline"
             href="{% url 'post_view' post.id %}#add-comment">Add comment</a>
        {% endif %}
      {% endif %}
      <div class="flex items-center gap-4 [&>a:hover]:underline">

        {% include "snippets/likes.html" %}

        {% if request.user.is_authenticated and request.user == post.author %}
          <a href="{% url 'post_edit' post.id %}">Edit</a>
          <a href="{% url 'post_delete' post.id %}">Delete</a>
        {% endif %}
      </div>
    </div>
  </div>
</article>
