{% load static %}

<reply class="flex items-end justify-between py-4 border-t">
<div class="flex">
    {% if reply.author %}
        <a href="{% url 'user_profile' reply.author.username %}">
            <img class="w-8 h-8 object-cover rounded-full mr-2"
                 src="{{ reply.author.profile.avatar }}"
                 alt="">
        </a>
        <div class="w-fit">
            <a class="block" href="{% url 'user_profile' reply.author.username %}">
                <span class="text-sm text-gray-400">@{{ reply.author.username }}</span>
                <span class="font-bold hover:underline">{{ reply.author.name }}</span>
            </a>
            <div class="mr-3">{{ reply.body }}</div>
        </div>
    {% else %}
        <img class="w-8 h-8 object-cover rounded-full mr-2"
             src="{% static 'images/avatar-anon.svg' %}"
             alt="">
        <div class="w-fit">
            <span class="text-sm text-gray-400">[deleted]</span>
            <div class="mr-3">{{ reply.body }}</div>
        </div>
    {% endif %}
</div>
<div class="flex items-center gap-4 [&>a:hover]:underline">
    {% include "snippets/likes_reply.html" %}
    {% if user.is_authenticated and reply.author == user %}
        <a href="{% url 'reply_delete' reply.id %}">Delete</a>
    {% endif %}
</div>
</reply>
