<aside x-show="mobileSidebarOpen"
       x-cloak
       class="md:!block col-span-full md:col-span-1 mx-[5%] md:mr-[20%] order-1 md:order-2"
       x-transition:enter="duration-300 ease-out"
       x-transition:enter-start="opacity-0 -mt-96"
       x-transition:enter-end="opacity-100 mt-0">
  <section class="card p-4">
    <h2>Categories</h2>
    <ul class="hoverlist">
      {% for category in categories %}
        <li class="{% if category.slug == tag.slug %}highlight{% endif %}">
          <a href="{% url 'tag_view' category.slug %}">
            <img class="w-8 h-8 object-cover mr-2"
                 src="{{ category.image.url }}"
                 alt="" />
            <span class="font-bold text-sm">{{ category.name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section class="card p-4">
    <h2>Top Photos</h2>
    <ul class="hoverlist">
      <li>
        <a href="">
          <img class="w-10 h-10 rounded-lg object-cover mr-3"
               src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg"
               alt="Kitty" />
          <img class="w-6 h-6 rounded-full mr-0.5"
               src="https://img.icons8.com/small/64/a9a9a9/happy.png"
               alt="happy" />
          <span class="font-bold text-sm mr-1">Homer</span>
          <span class="text-sm font-light text-gray-500">(5 Likes)</span>
        </a>
      </li>
      <li>
        <a href="">
          <img class="w-10 h-10 rounded-lg object-cover mr-3"
               src="https://live.staticflickr.com/65535/50618365686_36f887ab88_c.jpg"
               alt="Kitty" />
          <img class="w-6 h-6 rounded-full mr-0.5"
               src="https://img.icons8.com/small/64/a9a9a9/happy.png"
               alt="happy" />
          <span class="font-bold text-sm mr-1">Homer</span>
          <span class="text-sm font-light text-gray-500">(5 Likes)</span>
        </a>
      </li>
    </ul>
  </section>
  <section class="card p-4">
    <h2>Top Posts</h2>
    <ul class="hoverlist">
      <li>
        <a href="">
          <img class="w-6 h-6 rounded-full mr-1"
               src="https://img.icons8.com/small/64/a9a9a9/happy.png"
               alt="happy" />
          <span class="font-bold text-sm mr-1">Homer</span>
          <span class="text-sm font-light text-gray-500">(5 Likes)</span>
        </a>
      </li>
      <li>
        <a href="">
          <img class="w-6 h-6 rounded-full mr-1"
               src="https://img.icons8.com/small/64/a9a9a9/happy.png"
               alt="happy" />
          <span class="font-bold text-sm mr-1">Homer</span>
          <span class="text-sm font-light text-gray-500">(5 Likes)</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
