{% load static %}

<div class="flex items-center gap-4 [&>a:hover]:underline">
    {% if comment.likes.count %}
        <div class="flex items-center gap-1">
            {% if user in comment.likes.all %}
                <img class="w-5"
                     src="{% static 'images/heart-filled-red.svg' %}"
                     alt="hearts" />
            {% else %}
                <img class="w-5"
                     src="{% static 'images/heart-outline.svg' %}"
                     alt="hearts" />
            {% endif %}
            {{ comment.likes.count }}
        </div>
    {% endif %}
    {% if request.user.is_authenticated and request.user != comment.author %}
        <a class="cursor-pointer"
           hx-get="{% url 'comment_like' comment.id %}"
           hx-target="closest div"
           hx-swap="outerHTML">
            {% if user in comment.likes.all %}
                <strong>Liked</strong>
            {% else %}
                Like
            {% endif %}
        </a>
    {% endif %}
</div>
