{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&family=Quicksand&display=swap"
          rel="stylesheet" />
    <link rel="shortcut icon"
          href="https://img.icons8.com/wired/64/000000/social-network.png"
          type="image/png" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  </head>
  <body class="bg-gray-100">

    {% include 'includes/messages.html' %}
    {% include 'includes/header.html' %}

    {% block layout %}

    {% endblock layout %}

  </body>
</html>
